<section class="hero has-background-white-bis">
<section class="hero-body has-background-white-bis">
<div class="box">
<% if @over_5 %>
 <%= link_to 'Show All', '?m=all', class: 'button is-info' %>
<% end %>

<a class="button is-info" href="/conversations">Back</a>
<div class="dyn-height">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   
  <article class="message">
  <div class="message-body">
      <p><b><%= user.email %></b> - <i><%= message.message_time %></i></p>
     <%= message.body %>
  </div>
  </article>

 <% end %>
<% end %>
</div>
</div>

<div class="box">
  <div class="field has-addons">
    <%= form_for [@conversation, @message] do |f| %>
  <div class="control is-expanded">
    <%= f.text_area :body, class: "input" %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <div class="control">
    <%= f.submit "Send Reply", class: "button is-info" %>
  </div>
  <% end %>
  </div>
  </div>
 </section>
</section>