<section class="section has-background-white-bis" style="border-bottom:1px dashed #D3D3D3">
  <div class="container">
    <div class="columns is-centered">
      <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        
    <h3 class="title has-text-grey">Cập nhật tài khoản</h3>

      <!-- <h2 class="title is-2">Edit <%= resource_name.to_s.humanize %></h2>
      <h2 class="title is-2">Cập nhật tài khoản</h2>-->
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

<div class="box">
          <div class="field">
            <div class="control">
              <%= f.input :name, required: true, input_html: { class: "input is-medium is-hovered"}, wrapper: false, label_html: { class: "label" }, label: "Tên tài khoản" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :email, required: true, input_html: { class: "input is-medium is-hovered"}, wrapper: false, label_html: { class: "label" }, label: "Email" %>
            </div>
          </div>

          <div class="field">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password, autocomplete: "off", hint: "Để trống nếu bạn không muốn đổi mật khẩu", required: false, input_html: { class: "input is-medium is-hovered"}, wrapper: false, label_html: { class: "label" }, label: "Mật khẩu" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password_confirmation, required: false, input_html: { class: "input is-medium is-hovered"}, wrapper: false, label_html: { class: "label" }, label: "Xác nhận mật khẩu" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :current_password, hint: "Nhập mật khẩu cũ để xác minh", required: true, input_html: { class: "input is-medium is-hovered"}, wrapper: false, label_html: { class: "label" }, label: "Mật khẩu cũ" %>
            </div>
        </div>

        <%= f.button :submit, "Cập nhật thông tin tài khoản", class: "button is-medium is-primary" %>
</div>
      <% end %>

        <hr />
        <h3 class="title is-5">Xóa tài khoản của tôi</h3>
        <p>Cảm thấy không hài lòng? <%= link_to "Xóa tài khoản của tôi", registration_path(resource_name), data: { confirm: "Bạn có chắc là muốn xóa tài khoản này?" }, method: :delete %></p>
      </div>
      </div>
    </div>
  </div>
</section>