<%= simple_form_for @job, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<div class="box">
<div class="field">
        <div class="control">
        <%= f.input :title, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Tên công việc", placeholder: "" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.input :apply_url, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "URL đăng ký công việc", placeholder: ""  %>
        </div>
      </div>
    <div class="columns">
      <div class="field column is-4">
        <div class="control">
          <label class="label">Chọn loại công việc</label>
          <div class="control has-icons-left">
            <span class="select">
              <%= f.input_field :job_type, collection: User::JOB_TYPES, prompt: "Loại công việc" %>
            </span>
            <span class="icon is-small is-left">
              <i class="fa fa-briefcase"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <div class="control">
            <%= f.input :location, require: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Nơi làm việc", placeholder: "", hint: 'Ví dụ: "Vĩnh Châu, Sóc Trăng", "Không có chỗ làm cố định", "..."' %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label for="job[remote_ok]">
              <%= f.input :remote_ok, required: false, input_html: { class: "checkbox"}, wrapper: false, label: false %>
              Công việc có thể làm từ mọi nơi
            </label><i class="fa fa-wifi"></i>
          </div>
        </div>
      </div>
    </div>
      <div class="field">
        <div class="control">
          <%= f.hidden_field :description, id: :trix_description, required: true, input_html: { class: "textarea" }, wrapper: false, label_html: { class: "label" }, label: "Mô tả công việc", placeholder: "Mô tả công việc" %>
          <trix-editor input="trix_description" class="trix-content"></trix-editor>
        </div>
      </div>
    <div class="columns">
      <div class="field column">
        <div class="control">
          <%= f.input :job_author, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Tên nhà tuyển dụng hoặc tổ chức" %>
        </div>
      </div>
      <div class="field column">
        <div class="control">
          <%= f.input :url, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Trang web, trang mạng xã hội", placeholder: "http://công-ty.com, http://www.fb.com/vidu" %>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="field column is-4">
        <div class="control">
          <label class="label">Logo, ảnh (250x250)</label>
          <div class="file">
            <label class="file-label">
              <%= f.input :avatar, as: :file, required: false, input_html: { class:"file-input job-avatar" }, label: false, wrapper: false %>
                <span class="file-cta">
                  <span class="file-icon"><i class="fa fa-upload"></i></span>
                  <span class="file-label">Chọn tệp</span>
                </span>
            </label>
          </div>
        </div>
      </div>
      <div class="column">
        <output id="list"></output>
      </div>
    </div>
    <hr />
    <%= render 'payment' %>
    <div class="control has-text-centered">
      <%= f.submit "Đăng bài", class: "button is-danger is-large is-rounded mv4" %>
    </div>
<% end %>
</div>
