<nav class="panel" style="padding-top:10px">
  <p class="panel-heading">Filter by job type:</p>
 <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="search">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
</div>
    <%= link_to 'All', jobs_path, class: "panel-block" %>

    <%= link_to 'Full-time', jobs_path(job_type: "Full-time"), class: "panel-block" %>
    <%= link_to 'Part-time', jobs_path(job_type: "Part-time"), class: "panel-block" %>
    <%= link_to 'Freelance', jobs_path(job_type: "Freelance"), class: "panel-block" %>
    <%= link_to 'Contract', jobs_path(job_type: "Contract"), class: "panel-block" %>
</nav>