<nav class="panel" style="padding-top:10px">
  <p class="panel-heading">Lọc nội dung:</p>
 <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-small" type="text" placeholder="Tìm kiếm ở đây">
      <span class="icon is-small is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
</div>
    <%= link_to 'Tất cả', jobs_path, class: "panel-block" %>
    <%= link_to 'Toàn thời gian', jobs_path(job_type: "Toàn thời gian"), class: "panel-block" %>
    <%= link_to 'Bán thời gian', jobs_path(job_type: "Bán thời gian"), class: "panel-block" %>
    <%= link_to 'Tự do', jobs_path(job_type: "Tự do"), class: "panel-block" %>
    <%= link_to 'Hợp đồng', jobs_path(job_type: "Hợp đồng"), class: "panel-block" %>
    <%= link_to 'Thực tập', jobs_path(job_type: "Thực tập"), class: "panel-block" %>
</nav>
<div class="select is-multiple is-fullwidth">
  <select multiple size="8" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value)">
    <option value="/jobs">Tất cả</option>
    <!--<option value="?location=Bạc+Liêu">Bạc Liêu</option>
    <option value="?location=Sóc+Trăng">Sóc Trăng</option>
    <option value="?location=Cần+Thơ">Cần Thơ</option>-->
    <option value="">An Giang</option>
    <option value="">Bà Rịa Vũng Tàu</option>
    <option value="">Bạc Liêu</option>
    <option value="">Bắc Kạn</option>
    <option value="">Bắc Giang</option>
    <option value="">Bắc Ninh</option>
    <option value="">Bến Tre</option>
    <option value="">Bình Dương</option>
    <option value="">Bình Định</option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
</div>

