<div class="columns pt4 pb7 has-background-white-bis">
  <div class="column is-7 is-offset-1">
    <div class="box">
    <p class="f7"><i class="fa fa-clock"></i> Được đăng <%= time_ago_in_words(@job.created_at) %> trước</p>
    <h1 class="title is-2"><%= @job.title %></h1>

    <div class="panel">
      <li class="inline-block f6 pr2"><%= job_type(@job.job_type) %></li>
      <li class="inline-block f6 ph2"><i class="fa fa-pin"></i> <%= @job.location %></li>
      <% if @job.remote_ok? %>
        <li class="inline-block f6 ph2"><i class="fa fa-wifi"></i> Công việc có thể làm từ mọi nơi</li>
      <% end %>
    </div>
    <div class="content text-serif f4">
      <%= sanitize @job.description %>
    </div>
    <hr />
    <div class="control has-text-centered">
    <%= link_to 'Ứng tuyển cho công việc này', @job.apply_url, class: "button is-danger is-large is-rounded mv4" %>
    </div>
  </div>
  
  <a class="button">
    <span class="icon">
      <i class="fa fa-facebook"></i>
    </span>
    <span>Chia sẻ công việc này trên Facebook</span>
  </a>
  
  <a class="button">
    <span class="icon">
      <i class="fa fa-twitter"></i>
    </span>
    <span>Chia sẻ công việc này trên Twitter</span>
  </a>
  
  </div>

  <div class="column is-2 is-offset-1 has-text-centered" style="border:1px dashed #D3D3D3">

    <% if !@job.avatar.file.nil? %>
      <%= link_to image_tag(@job.avatar_url(:thumb), alt: @job.job_author, class: "has-text-centered"), @job.url %>
    <% end %>

    <h5 class="is-5 has-text-danger has-text-centered"><%= @job.job_author %></h5>
    
    <hr />
    <div class="mt2 mb4">
    <!--<%= link_to @job.url do %>
      <i class="fa fa-globe"> Đi đến Website ngoài</i>
    <% end %>
    </div>-->
    
    <a class="button is-small is-fullwidth" id="showModal">
    <span>Về công ti</span>
    <span class="icon is-small">
      <i class="fa fa-info-circle"></i>
    </span>
    </a>
    <br>
    <a class="button is-small is-fullwidth" id="showModal">
    <span>Đi đến Website ngoài</span>
    <span class="icon is-small">
      <i class="fa fa-globe"></i>
    </span>
    </a>
    </div>
    <hr />
    
    <%= link_to 'Ứng tuyển', @job.apply_url, class:"button is-rounded is-fullwidth" %>
    
    <hr />
    
    <a class="button is-small is-fullwidth">
    <span>Phản ánh thông tin sai lệch</span>
    <span class="icon is-small">
      <i class="fa fa-exclamation-triangle"></i>
    </span>
  </a>

    <% if current_user.try(:admin) || job_author(@job) %>
      <ul class="pv3">
        <li class="pv1 f6">Quyền của người đăng: </li>
        <li class="pv1 inline-block">
          <%= link_to 'Xem', @job, class: 'button is-small is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Chỉnh sửa', edit_job_path(@job), class: 'button is-small is-outlined' %></li>
        <li class="pv1 inline-block">
          <%= link_to 'Xóa', @job, method: :delete, data: { confirm: 'Bạn có chắc là muốn xóa công việc này?' }, class: 'button is-small is-outlined' %></li>
      </ul>
    <% end %>

  </div>


<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"><%= @job.job_author %></p>
      <button class="delete" aria-label="close" id="closeModal"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      
    </footer>
  </div>
</div>

<script type="text/javascript">
  $("#showModal").click(function() {
  $(".modal").addClass("is-active");  
});

$("#closeModal").click(function() {
   $(".modal").removeClass("is-active");
});
</script>