<div class="section" style="border-bottom:1px dashed #D3D3D3">
  <div class="container">
  <div class="columns is-centered">

    <div class="column is-4">

    <h2 class="title is-2">Tham gia Yayber</h2>
    <h2 class="subtitle is-4">Cổng kết nối học sinh, sinh viên với các cơ hội việc làm.</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="field">
      <div class="control">
      <%= f.input :name, required: true, autofocus: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, label: "Tên tài khoản" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
      <%= f.input :email, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, label: "Email" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.input :password, required: true, input_html: { class:"input" }, wrapper: false, label_html: { class:"label" }, label: "Mật khẩu", hint: ("#{@minimum_password_length} kí tự tối thiểu" if @minimum_password_length) %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.input :password_confirmation, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class: "label" }, label: "Xác nhận mật khẩu" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= f.button :submit, "Đăng ký", class:"button is-medium" %>
      </div>
    </div>

    <% end %>
      <br />
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>