<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.configuration.application_name %></title>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', "https://js.stripe.com/v2/", "https://js.stripe.com/v3/", 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <% if flash[:notice] %>
      <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
  
     <nav class="navbar has-background-white-bis" role="navigation" aria-label="main navigation"  style="border-bottom:1px dashed #D3D3D3">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-5"><%= Rails.configuration.application_name %></h1>
        <% end  %>
        <div class="navbar-burger burger" data-target="navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      
      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <!-- Dropdown START -->
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Docs
                  </a>
                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Overview
                  </a>
                  <a class="navbar-item">
                    Elements
                  </a>
                  <a class="navbar-item">
                    Components
                  </a>
                  <hr class="navbar-divider">
                  <div class="navbar-item">
                    Version 0.7.2
                  </div>
                </div>
            </div>
              <!-- Dropdown END -->
              <a class="navbar-item" href="/jobs">
                Tìm việc làm
              </a>
              <div class="navbar-item">
                <form class="field has-addons" method="get" action="">
                  <div class="control">
                    <input class="input" type="search" placeholder="" name="search">
                    <!--<%= form_tag jobs_path, :method => 'get' do %>
                      <%= text_field_tag :search, params[:search] %>
                      <%= submit_tag "Search", class: "button", :name => nil %>
                      <% end %>-->
                  </div>
                  <div class="control"><button class="button" type="submit">Tìm kiếm</button></div>
               </form>
              </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
              <p class="control">
                <%= link_to "Đăng việc mới", new_job_path, class: "navbar-item button is-rounded" %>
              </p>
          </div>
            <% if user_signed_in? %>
              <div class="navbar-item has-dropdown is-hoverable">
                <!--<%= link_to 'Tài khoản', edit_user_registration_path, class: "navbar-link" %>-->
                <a class="navbar-link">Tài khoản</a>
                <div class="navbar-dropdown">
                  <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
                  <%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                </div>
              </div>
            <% else %>
            <p class="control">
              <%= link_to "Đăng nhập", new_user_session_path, class:"navbar-item" %>
            </p>
            <p class="control">
              <%= link_to "Đăng ký", new_user_registration_path, class:"navbar-item" %>
            </p>
            <% end %>
      </div>
    </div>
  </nav>
  <%= yield %>
  <footer class="footer has-background-white-bis">
            <div class="container">
                <div class="columns">
                    <div class="column is-3 is-offset-2">
                        <h2><strong>Category</strong></h2>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Vestibulum errato isse</a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#">Aisia caisia</a></li>
                            <li><a href="#">Murphy's law</a></li>
                            <li><a href="#">Flimsy Lavenrock</a></li>
                            <li><a href="#">Maven Mousie Lavender</a></li>
                        </ul>
                    </div>
                    <div class="column is-3">
                        <h2><strong>Category</strong></h2>
                        <ul>
                            <li><a href="#">Labore et dolore magna aliqua</a></li>
                            <li><a href="#">Kanban airis sum eschelor</a></li>
                            <li><a href="#">Modular modern free</a></li>
                            <li><a href="#">The king of clubs</a></li>
                            <li><a href="#">The Discovery Dissipation</a></li>
                            <li><a href="#">Course Correction</a></li>
                            <li><a href="#">Better Angels</a></li>
                        </ul>
                    </div>
                    <div class="column is-4">
                        <h2><strong>Category</strong></h2>
                        <ul>
                            <li><a href="#">Objects in space</a></li>
                            <li><a href="#">Playing cards with coyote</a></li>
                            <li><a href="#">Goodbye Yellow Brick Road</a></li>
                            <li><a href="#">The Garden of Forking Paths</a></li>
                            <li><a href="#">Future Shock</a></li>
                        </ul>
                    </div>
                </div>
                <div class="content has-text-centered">
                  <p>
                    © 2019-2020 Yayber All Rights Reserved
                    </p>
                </div>
            </div>
            <script src="../js/bulma.js"></script>
        </footer>
  </body>
</html>